<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header_links}}
    
    <title>Weather.com</title>
  </head>
  <body>
    <!-- navbar -->
    {{>navbar}}
    <!-- navbar-end -->
    <div class="container" style="text-align: center;"><h1>Welcome {{name}}, you can check weather of your city here.</h1></div>
    <!-- mainheader -->
    <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="main_content">
                <form action="" class="temp_form">
                    <input type="text" id="cityname" name="cityname" placeholder="Enter your city Name" required="true">
                    <input type="submit" value="search" id="submitbtn">
                </form>
            </div>
            <div class="temp-info">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today-date">22</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Please write the city name in the search bar</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>  
    <div class="container" style="text-align: center; margin-top: 6px;"><button type="button" class="btn btn-warning" style="width: 80px;"><a href="/logout">logout</a></button></div>  
    <!-- mainheader-end -->

    <!-- Footer -->
     {{>footer}}
    <!-- Footer-end -->
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="js/main.js"></script>
  </body>
</html>
